<p style="color: green"><%= notice %></p>

<div>
  <h1 class="page-title"><%= @channel.name %></h1>
</div>

<hr class="separator">

<%= render partial: 'shared/timeline', locals: { timeline_type: @timeline_type, week_starts: @weeks_data.map { |week| week[:week_start] }, timeline_data: @weeks_data } %>

<hr class="separator">

<div>
  <% if user_signed_in? %>
    <%= render 'comments/comments_new_form', parent: @channel, comment: Comment.new %>
  <% else %>
    <%= link_to "Login to add, edit or delete a comment", new_user_session_path, class: "btn btn-primary" %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this channel", edit_channel_path(@channel) %> |
  <%= link_to "Back to channels", channels_path %>
  <%= button_to "Destroy this channel", @channel, method: :delete %>
</div>

<div id="comments-list">
  <%= render 'comments/comments_list', parent: @channel, comments: @comments %>
</div>