<h2>Comments for <%= project.name %></h2>

<%= link_to 'Back to Project', project %>

<div class="timeline-container">
  <% comments.each do |comment| %>
    <div class="timeline-item">
      <div class="timeline-content">
        <strong><%= comment.user.name %></strong>: 
        <span class="comment-body"><%= raw comment.body.to_s %></span>
        <div>
          <strong><%= link_to 'Edit', edit_project_comment_path(project, comment) %> |</strong>
          <strong><%= link_to 'Delete', [project, comment], method: :delete, data: { confirm: 'Are you sure?' } %></strong>
        </div>
      </div>
    </div>
  <% end %>
</div>