<div id="comment_<%= comment.id %>_timeline">
	<div class="timeline-container">
		<div class="timeline-item">
			<div class="timeline-content">
					<% if comment.user %>
						<strong><%= comment.user.name %></strong>: <span class="comment-body"><%= raw comment.body.to_s %></span>
					<% else %>
						<strong>Anonymous</strong>: <span class="comment-body"><%= raw comment.body.to_s %></span>
					<% end %>

					<div>
						<% if comment.persisted? %>
							<%= link_to edit_project_comment_path(comment.project, comment), data: { turbo_frame: "edit_comment_modal" } do %>
								<strong><%= comment.user&.name || "Anonymous" %></strong>: 
								<span class="comment-body"><%= raw comment.body.to_s %></span>
							<% end %>
						<% end %>
					</div>
			
			</div>
		</div>
	</div>
</div>