<% parent = local_assigns[:parent] || (@project || @channel) %>

<% @comments_by_date.sort.reverse.each do |date, comments_for_date| %>
  <div class="comments-separator">
    <span><strong><%= date.strftime("%m/%d/%Y") %></strong></span>
  </div>

  <% comments_for_date.each do |comment| %>
    <% if comment.persisted? %>
      <div id="comment_<%= comment.id %>_list" class="project-comment">
        <% if comment.user %>
          <strong><%= comment.user.name %>:</strong>
          <div class="comment-body">
            <%= raw comment.body.to_s %>
          </div>
        <% else %>
          <strong>Anonymous:</strong>
          <div class="comment-body">
            <%= raw comment.body.to_s %>
          </div>
        <% end %>
      </div>

      <!-- Comment actions -->
      <div class="comment-actions">
        <% if user_signed_in? %>
          <% if parent.is_a?(Project) %>
            <%= link_to 'Edit', edit_project_comment_path(parent, comment), data: { turbo_frame: "edit_comment_modal" } %> |
            <%= button_to 'Delete', [parent, comment], method: :delete, form_class: "inline-form", class: "button-link", data: { confirm: 'Are you sure?' } %>
          <% elsif parent.is_a?(Channel) %>
            <%= link_to 'Edit', edit_channel_comment_path(parent, comment), data: { turbo_frame: "edit_comment_modal" } %> |
            <%= button_to 'Delete', [parent, comment], method: :delete, form_class: "inline-form", class: "button-link", data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% else %>
          <%= link_to 'Edit', new_user_session_path, class: 'btn btn-primary' %> |
          <%= button_to 'Delete', new_user_session_path, form_class: 'inline-form', class: 'button-link' %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
