<%= turbo_frame_tag "weekly_comments_modal" do %>
  <div data-controller="modal" data-action="turbo:before-render@document->modal#hideBeforeRender" data-modal-target="container" class="modal-container">
    <div class="modal-backdrop"></div>
    <div class="modal">
      <div class="comments-modal-title">
        <h2>Comments for <%= project.name %></h2>
      </div>

      <% comments_by_date = comments.group_by { |comment| comment.created_at.to_date } %>
    
      <% comments_by_date.sort.reverse.each do |date, comments_on_date| %>
        <div class="comments-separator">
          <span><strong><%= date.strftime("%m/%d/%Y") %></strong></span>
        </div>

        <% comments_on_date.each do |comment| %>
          <%= render partial: 'comments/comment', locals: { comment: comment, parent: project, context: :weekly } %>
        <% end %>
      <% end %>

      <div>
        <%= link_to "Close", "#", data: { action: "modal#close" }, class: "close-modal-button" %>
      </div>
    </div>
  </div>
<% end %>