<% project.comments.each do |comment| %> <%# iterating over this comments variable (which is equal to @project.comments in this case). That's why the loop in your partial is using comments.each: %>
  <div id="comment_<%= comment.id %>_list" class="project-comment"> <!-- Unique ID for each comment -->
    <% if comment.user %>
      <strong><%= comment.user.name %> on <%= comment.created_at.strftime("%m/%d/%Y") %>:</strong>
      <div class="comment-body">
        <%= raw comment.body.to_s %>
      </div>
    <% else %>
      <strong>Anonymous on </strong>
      <div class="comment-body">
        <%= raw comment.body.to_s %>
      </div>
    <% end %> 
  </div>
        
  <% if comment.persisted? %>  <!-- Only show the edit link for saved comments -->
    <div class="comment-actions">   
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_project_comment_path(project, comment), data: { turbo_frame: "edit_comment_modal" } %> |
        <%= button_to 'Delete', [project, comment], method: :delete, form_class: "inline-form", class: "button-link", data: { confirm: 'Are you sure?' } %>
      <% else %>
        <%= link_to "Edit", new_user_session_path, class: "btn btn-primary" %> |</i> <%# redirects user to login page %>
        <%= button_to 'Delete', new_user_session_path, form_class: "inline-form", class: "button-link" %> <%# redirects user to login page %>        
      <% end %>
    </div>  
  <% end %>  

  <hr class="separator">

<% end %>

  