<h1>Sign Up</h1>

<%= form_with model: @user, url: sign_up_path, data: {turbo: false}, local: true do |form| %>
    <% if @user.errors.any? %>
        <div class="alert">
            "Email must be a valid email"            
        </div>
    <% end %>

    <div>
        <%= form.label :email %>
        <%= form.email_field :email, placeholder: "victor.eun@gmail.com" %>
    </div>

    <div>
        <%= form.label :password %>
        <%= form.password_field :password, placeholder: "password" %>
    </div>

    <div>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, placeholder: "password confirmation" %>
    </div>
    <%= form.submit "Sign Up" %>
<% end %>

        