<header>
<nav class="navbar">
    <div class="nav-logo"><img src="Logo original.png" width="80" height="80"></div>
    <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Blog", blog_path %></li>
        <li><%= link_to "Features", features_path %></li>
        <li><%= link_to "Pricing", pricing_path %></li>
        <li id="login"><%= link_to "Login / Sign Up", sign_up_path %></li>
    </ul>
</nav>
</header>