<h3 class="page-title">Projects Timeline</h3>

<% if @projects.empty? %>
  <div class="projects-timeline-description">
    <i>Once a Project is created, its Timeline will be displayed here</i>
  </div>
<% else %>
  <div class="projects-timeline-description">
    <i>Showing all projects and their weekly updates</i>
  </div>

  <%# Group timeline data by department %>
  <% department_groups = @timeline_data.group_by { |pt| pt[:department] } %>

  <div class="gantt-timeline-container" data-controller="timeline">
    <!-- Timeline header with dates -->
    <div class="gantt-timeline-header">
      <div class="gantt-info-column"></div>
      <div class="gantt-chart-area">
        <% @week_starts.each_with_index do |ws, index| %>
          <div class="gantt-date-header <%= 'last-date' if index == @week_starts.size - 1 %>">
            <%= ws.strftime("%m/%d/%y") %>
            <% if index < @week_starts.size - 1 %>
              <div class="vertical-line"></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    

    <!-- Timeline content with departments and projects -->
    <div class="gantt-timeline-content">
      <% department_groups.each_with_index do |(department, projects_in_dept), dept_index| %>
        <% if dept_index > 0 %>
          <div class="gantt-separator"></div>
        <% end %>

        <!-- Department header -->
        <div class="gantt-department-header">
          <div class="department-name"><%= department %></div>
        </div>

        <!-- Handle duplicate projects by combining them -->
        <% 
          # Group projects by name to combine duplicates
          projects_by_name = {}
          
          projects_in_dept.each do |project_timeline|
            project_name = project_timeline[:name]
            
            if projects_by_name[project_name].nil?
              projects_by_name[project_name] = project_timeline.dup
              projects_by_name[project_name][:weeks] = project_timeline[:weeks].map(&:dup)
            else
              # Combine weeks data by adding counts
              project_timeline[:weeks].each_with_index do |week_data, idx|
                projects_by_name[project_name][:weeks][idx][:count] += week_data[:count]
              end
              
              # Expand date range if needed
              if project_timeline[:start_date] < projects_by_name[project_name][:start_date]
                projects_by_name[project_name][:start_date] = project_timeline[:start_date]
              end
              
              if project_timeline[:end_date] > projects_by_name[project_name][:end_date]
                projects_by_name[project_name][:end_date] = project_timeline[:end_date]
              end
            end
          end
          
          # Is this the last department with the last project?
          is_last_department = dept_index == department_groups.size - 1
        %>
        
        <!-- Projects in department - use the deduplicated list -->
        <% projects_by_name.values.each_with_index do |project_timeline, project_index| %>
          <% 
            is_last_project = is_last_department && project_index == projects_by_name.values.size - 1
            project = Project.find_by(name: project_timeline[:name])
            
            # Improved calculation of which weeks the project spans
            start_week_index = nil
            end_week_index = nil
            
            # Find the week that contains the project's start date
            @week_starts.each_with_index do |week_start, idx|
              week_end = week_start + 6.days
              if week_start <= project_timeline[:start_date] && project_timeline[:start_date] <= week_end
                start_week_index = idx
                break
              end
            end
            
            # Find the week that contains the project's end date
            @week_starts.each_with_index do |week_start, idx|
              week_end = week_start + 6.days
              if week_start <= project_timeline[:end_date] && project_timeline[:end_date] <= week_end
                end_week_index = idx
                break
              end
            end
            
            # Handle edge cases
            start_week_index ||= 0
            end_week_index ||= @week_starts.size - 1
          %>
          
          <div class="gantt-project-row <%= 'last-project' if is_last_project %>">
            <!-- Project info (left side) -->
            <div class="gantt-info-column">
              <% if project %>
                <div class="project-name"><%= link_to project_timeline[:name], project_path(project) %></div>
              <% else %>
                <div class="project-name"><%= project_timeline[:name] %></div>
              <% end %>
              <div class="project-timeline-dates">
                <%= project_timeline[:start_date].strftime("%m/%d/%Y") %> - <%= project_timeline[:end_date].strftime("%m/%d/%Y") %>
              </div>
            </div>
            
            <!-- Chart area with project bar and week cells -->
            <div class="gantt-chart-area">
              <!-- Project bar container -->
              <div class="project-bar-container" style="left: <%= start_week_index * 80 %>px; width: <%= (end_week_index - start_week_index + 1) * 80 %>px;">
                <div class="gantt-project-bar"></div>
              </div>
              
              <!-- Week cells with numbers -->
              <% project_timeline[:weeks].each_with_index do |week_data, week_index| %>
                <% if week_index >= start_week_index && week_index <= end_week_index %>
                  <% count = week_data[:count] %>
                  <div class="week-cell" data-count="<%= count %>" style="left: <%= week_index * 80 %>px;">
                    <%= count %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>