<div class="project-card"> 
  <div id="<%= dom_id project %>">
    <div class="project-card-name">
      <strong><%= link_to project.name, project_path(project) %></strong>
    </div>
      <p>
        Start Date:
        <%= project.start_date %>
      </p>
      <p>
        End Date:
      <%= project.end_date %>
      </p>
      <p>
        Created at:
        <%= project.created_at %>
      </p>
      <p>
        <strong><%= link_to 'Edit', edit_project_path(project) %></strong>
      </p>
  </div>
</div>