<h3 class="page-title">
  Projects Timeline
</h3>

<div class="projects-timeline-description">
  <i>
    Shows the number of comments per
    <%= params[:department].present? && params[:department] != 'All Departments' ? 'project' : 'department' %> per week
  </i>
</div>

<div class="projects-timeline-container">
  <!-- Data rows -->
  <% @timeline_data.each_with_index do |entity, entity_index| %>
    <!-- Entity name -->
    <div class="entity-name" style="grid-row: <%= entity_index + 1 %>; grid-column: 1;">
      <% if params[:department].present? && params[:department] != 'All Departments' %>
        <%= link_to entity[:name], project_path(Project.find_by(name: entity[:name])) %>
      <% else %>
        <%= entity[:name] %>
      <% end %>
    </div>

    <!-- Timeline entries -->
    <% entity[:weeks].each_with_index do |week, week_index| %>
      <div class="timeline-entry" style="grid-row: <%= entity_index + 1 %>; grid-column: <%= week_index + 2 %>;">
				<div class="projects-timeline-item">
					<% if week[:count] != 0 %>
						<strong><%= week[:count] %></strong>
					<% else %>
						-
					<% end %>
				</div>
      </div>
    <% end %>
  <% end %>

  <!-- Weeks row at the bottom -->
  <!-- Empty cell for alignment -->
  <div class="entity-name header-cell" style="grid-row: <%= @timeline_data.size + 1 %>; grid-column: 1;"></div>
  <% @week_starts.each_with_index do |week_start, index| %>
    <div class="timeline-header-cell" style="grid-row: <%= @timeline_data.size + 1 %>; grid-column: <%= index + 2 %>;">
      <%= week_start.strftime("%d/%m/%y") %>
    </div>
  <% end %>
</div>
