<h1 class="page-title">
  <%= project.name %>
</h1>

<div class="project-show-dates">
  <%= project.start_date.present? ? project.start_date.strftime("%m/%d/%Y") : "" %> - <%= project.end_date.present? ? project.end_date.strftime("%m/%d/%Y") : "" %>
</div>

<div class="project-description">
  <i><%= project.description %></i>
</div>

<div class="project-actions">
  <%= link_to "Edit this project | ", edit_project_path(@project) %>
  <%= link_to "Back to projects |", projects_path %>
  <%= button_to "Destroy this project", @project, method: :delete %>
</div>