  <p style="color: green"><%= notice %></p>

  <h1>Projects</h1>

  <div class="highlighted-projects-grid">

    <div class="recent-projects-grid">
      <% @recent_projects.each do |project| %>
        <%= render 'project_card', project: project%>
      <% end %>
    </div>

    <div class="due-soon-projects-grid">
      <% @due_soon_projects.each do |project| %>
        <%= render 'project_card', project: project%>
      <% end %>
    </div>

    <div class="past-due-projects-grid">
      <% @past_due_projects.each do |project| %>
        <%= render 'project_card', project: project%>
      <% end %>
    </div>

  </div>
  
  <div id="all-projects" class="projects-grid">
    <% @projects.each do |project| %>
      <%= render 'project_card', project: project%>
    <% end %>
  </div>
  