<p style="color: green"><%= notice %></p>

<h1 class="page-title">All Projects</h1>

<div class="new-project-prompt">
	<% if user_signed_in? %>
		<p>
			<div class="button">
        <%= link_to "Create Project", new_project_path, data: { turbo_frame: "new_project_modal" } %>
      </div>
		</p>
		<% else %>
			<%= link_to "Login to create a Project", new_user_session_path, class: "btn btn-primary" %>
	<% end %>
</div>

<!-- Filter Form -->
<%= form_with url: projects_path, method: :get, local: true do %>
  <div class="projects-filters">
    <!-- Date Range Filter -->
    <div class="start-date-filter">
      <label for="start_date">Start Date:</label>
      <%= date_field_tag :start_date, params[:start_date], placeholder: "From" %>
    </div>

    <div class="end-date-filter"> 
      <label for="end_date">End Date:</label>
      <%= date_field_tag :end_date, params[:end_date], placeholder: "To" %>
    </div>

    <!-- Dropdown Filter -->
    <div class="department-filter">
      <label for="departments">Departments:</label>
      <%= select_tag :department, options_for_select(['All Departments', 'Marketing', 'Sales', 'Customer Success', 'Delivery'], params[:category]) %>
    </div>

    <!-- Submit Button -->
    <div class="button">
      <%= submit_tag "Filter", name: nil %>
    </div>
  </div>
<% end %>

<hr class="separator">

<div class="highlighted-projects-grid">

  <div class="recent-projects-grid">
	  <% @recent_projects.each do |project| %>
      <%= render 'project_card', project: project%>
    <% end %>
  </div>

  <div class="due-soon-projects-grid">
    <% @due_soon_projects.each do |project| %>
      <%= render 'project_card', project: project%>
     <% end %>
  </div>

  <div class="past-due-projects-grid">
    <% @past_due_projects.each do |project| %>
      <%= render 'project_card', project: project%>
    <% end %>
  </div>

</div>
  
<hr class="separator">

<div id="all-projects" class="projects-grid">
  <% @projects.each do |project| %>
    <%= render 'project_card', project: project%>
  <% end %>
</div>
  