<p style="color: green"><%= notice %></p>

<%= render 'project_detail', project: @project %> 

<%= render 'comments/comments', project: @project, comments: @project.comments %> <%# @project.comments means: "pass the collection of comments from @project.comments as the local variable comments to the partial." This makes comments (with an "s") available within the partial. %>

<%= render 'comments/form', project: @project, comment: @project.comments.build %>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>