<!DOCTYPE html>
<html>
  <head>
    <title>MindBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>

    <div id="modal-container"></div>  <!-- New container at root level -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= turbo_frame_tag "new_project_modal" %>
    <%= turbo_frame_tag "edit_comment_modal" %>
    <%= turbo_frame_tag "weekly_comments_modal" %>
    <%= turbo_frame_tag "weekly_summary_modal" %>
  </body>
</html>